*~
*.app
*.cache
*.dylib
*.lo
*.lo?
*.la
*.moc.cpp
*.o
*.so
*.trs
*.pc
*.vlt
*.class
*.dmg
.DS_Store
.deps
.libs
.dirstamp
ABOUT-NLS
aclocal.m4
ChangeLog
compile
config.status
config.h*
config.log
configure
doltcompile
doltlibtool
INSTALL.git
libtool
Makefile
Makefile.in
stamp-*
vlc
vlc.exe
qvlc
rvlc
svlc
cvlc
qvlc
mvlc
nvlc
wxvlc
vlc_install_dir/*
plugins.dat
patches/*

include/vlc/libvlc_version.h

# Ignore build dirs
build*
contrib-*
install-*

dependencies/ffmpeg/ffmpeg
dependencies/ffmpeg/ffprobe
dependencies/ffmpeg/qt-faststart
dependencies/whisper/models/*.bin
dependencies/whisper/*so.1
dependencies/whisper/*so.1.7.5
dependencies/whisper/*.a
dependencies/windows-whisper/*